<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpus Forge Chat</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='chat_style.css') }}"
    />
</head>
<body>
    <ul>
        <li><a href="settings.html">Settings</a></li>
        <li><a href="">Reset</a></li>
    </ul>

    <main id="main_container">
        <div id="files_sidebar">
            <h2>Files</h2>
            <p>Upload, remove, select files to be used for context here</p>
        </div>
            
        <div id="chat_window">
            <h2>Chat</h2>
            <p>Send messages, view history</p>
            <div id="dialogue">
                
            </div>
            <div id="send_message">

            </div>
        </div>
        
        <div id="tools_sidebar">
            <h2>Tools</h2>
            <p>Generate quizzes and flashcards</p>
        </div>
    </main>
</body>
</html>