<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpus Forge Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_style.css') }}"/>
</head>
<body>
    <ul class="dashboard">
        <li><a href="{{url_for('settings')}}">
            <img id="ico_setting" src="{{ url_for('static', filename='images/setting.png')}}" alt= 'Settings'>
        </a></li>
        <li><a href="">Reset</a></li>
    </ul>

    <main id="main_container">
        <div id="files_sidebar">
            <h2>Files</h2>
            <hr>
            <p>Upload, remove, select files to be used for context here</p>
            <!-- TODO: add buttons to add, remove and select uploaded files. Add the list of files below -->
        </div>
            
        <div id="chat_window">
            <h2>Chat</h2>
            <p>Send messages, view history</p>
            <div id="dialogue">
                <!-- TODO: Iterate over history using jinja and display the conversation -->
            </div>
            <div id="send_message">
                <!-- TODO: message form and submit button. Can't send when the model is thinking -->
                <div id="chat-box">
                    <div id="input-box" role="textbox"></div>
                    <div id="send-btn"></div>
                </div>
            </div>
        </div>
        
        <div id="tools_sidebar">
            <h2>Tools</h2>
            <hr>
            <p>Generate quizzes and flashcards</p>
            <!-- TODO: add action buttons (e.g. for quiz, flashcards...) and a list of generated content which you can open -->
        </div>
    </main>
</body>
<footer>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</footer>
</html>