
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chat_style.css')}}"
    />
</head>
<body>
    <!-- Configure config.toml, .env and monitor AI usage -->
    <!-- TODO: simple form using POST method which let's user configure config.toml and .env (google api key) -->
     {% include "menu.html" %}
</body>
</html>